In [9]:
# initial imports
import pandas as pd
from pathlib import Path

In [10]:
# set file path
file_path = Path("C:/Users/gerar/OneDrive/Desktop/Python Projects/Simple-Python-Analysis/Resources/budget_data.csv")

# create dataframe
df = pd.read_csv(file_path)

In [11]:
# checking file
df.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [12]:
# This calculates the total number of months using the ".count"
total_months = df["Date"].count()
print(f"Total Months:{total_months}")

Total Months:86

In [13]:
# This calculates the net total amount of Profit/Losses over the entire period.
profit_loss = df["Profit/Losses"].sum()
print(f"Total: {profit_loss}")

Total: 38382578

In [15]:
# This calculates net change by creating two new columns in dataframe: "shift" & "change". ("Profit Losses" - "shift" = "change")
df['shift'] = df['Profit/Losses'].shift(1)
df['change'] = df['Profit/Losses'] - df['shift']
df.head(5)

       Date  Profit/Losses     shift    change
0  Jan-2010         867884       NaN       NaN
1  Feb-2010         984655  867884.0  116771.0
2  Mar-2010         322013  984655.0 -662642.0
3  Apr-2010         -69417  322013.0 -391430.0
4  May-2010         310503  -69417.0  379920.0

In [16]:
# This calculates average of the "Change" column to find the average change.
mean = round(df["change"].mean(),2)
print(f"Average Change: {mean}")

Average Change: -2315.12

In [17]:
# This calculates the max of the "Change" column.
max = round(df["change"].max(),2)
print(f'Greatest increase in Profits: {max}')

Greatest increase in Profits: 1926159.0

In [18]:
# This calculates the min of "Change" column.
min = round(df["change"].min(),2)
print(f'Greatest decrease in Profits: {min}')

Greatest decrease in Profits: -2196167.0